TG_TOKEN=
BOT_ID=1
OWNER_TG_ID=
BOT_USERNAME=
DATABASE_PATH=/root/database/partner.db

PANEL_URL=
PANEL_API_TOKEN=
SHORT_UUID_SECRET=
API_FREEKASSA=
SHOP_ID_FREEKASSA=
FREEKASSA_SERVER_IP=
CRYPTOBOT_API_TOKEN=

BOT_URL=
SUPPORT_URL=
DOCUMENT_URL_1=
DOCUMENT_URL_2=

REFERRAL_PROCENT=30
PARTNER_SHARE_REF=20
PARTNER_SHARE_DEFAULT=50
PARTNER_MIN_WITHDRAW=3000
DEFAULT_TRIAL_DAYS=3
TRIAL_DAYS_MIN=1
TRIAL_DAYS_MAX=7

ADMIN_IDS=
CHECKER_ID=

DEFAULT_PRICE_M1_D3=199
MIN_PRICE_M1_D3=100
DEFAULT_PRICE_M3_D3=499
MIN_PRICE_M3_D3=250
DEFAULT_PRICE_M6_D3=999
MIN_PRICE_M6_D3=500
DEFAULT_PRICE_M12_D3=1188
MIN_PRICE_M12_D3=600
DEFAULT_PRICE_M1_D5=299
MIN_PRICE_M1_D5=150
DEFAULT_PRICE_M3_D5=749
MIN_PRICE_M3_D5=375
DEFAULT_PRICE_M6_D5=1349
MIN_PRICE_M6_D5=675
DEFAULT_PRICE_M12_D5=1799
MIN_PRICE_M12_D5=900
DEFAULT_PRICE_M1_D10=659
MIN_PRICE_M1_D10=330
DEFAULT_PRICE_M3_D10=1349
MIN_PRICE_M3_D10=675
DEFAULT_PRICE_M6_D10=2399
MIN_PRICE_M6_D10=1200
DEFAULT_PRICE_M12_D10=3239
MIN_PRICE_M12_D10=1600
